.sign-up-fields
{
    width: 100%;
    display: flex;
    text-align: center;
    flex-wrap: wrap-reverse !important;
}
.sing-up-content h1
{
    font-weight: 600;
    margin: 20px auto;
}

.sign-up-right-inputs
{
    width: 70%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-top: 20px;
} 

.sign-up-right-inputs input
{
    width: 70%;
    max-width: 100%;
    position: relative;
    margin: 10px 0;
    border-radius: 14px;
    padding: 8px;
    border: 1px solid #000000;
}

.sign-up-right-inputs input:focus
{
    outline: none;
}

.sign-up-right-inputs p
{
    position: absolute;
    right: 131px;
    font-size: 12px;
    background-color: white;
    z-index: 1;
    font-weight: 600;
    padding: 0px 10px;
    max-width: 100%;

}
.sign-up-left-side .upload-images
{
    margin: 0 10px;
}

.sign-up-left-side .upload-images img
{
    width: 366px;
    margin: 12px auto;
    max-width: 100%;
}

.sign-up-left-side
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}   

.sing-up-overlay
{
    background: url('sign-up.png') no-repeat ;
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.sing-up-content
{
    position: absolute;
    width: 80%;
    left: 20%;
    background-color: white;
    min-height: 100%;
    text-align: center;
    border-radius: 15px;
    overflow-x: hidden;
}
.create-account
{
    display: flex;
    gap: 7px;
    font-size: 12px;
}
.create-account-btn
{
    text-decoration: underline;
    color: #6B48FF;
    cursor: pointer;
}


.sign-up-btn
{
    width: 67%;
    color: black;
    background-color: #1EE3CF;
    padding: 8px;
    border-radius: 14px;
    border: none;
    font-weight: 800;
    transition: 0.3s !important;
}
.sign-up-btn:hover
{
    transform: translateY(-4px);
}
.sign-up-line
{
    width: 373px;
    height: 1px;
    margin: 20px 0;
    background-color: #D9D9D9;
    position: relative;
    left: 50%;
    transform: translate(-50%,-50%);
}

.sign-up-options
{
    display: flex !important;
    width: 72%;
    justify-content: end;
}
.social-sign-up-buttons
{
    justify-content: center;
    gap: 2px;
}
.social-sign-up-buttons button
{
    width: 89px;
    padding: 0px 2px 4px;
    border-radius: 15px;
    text-align: center;
    font-size: 24px;
    transition: 0.3s;
}

.social-sign-up-buttons button:hover
{
    transform: translateY(-4px);
}
@media (max-width : 760px)
{
    .sing-up-content
    {
        height: 1000px;
    }
}